SHARED_MEMORY_MCP_STORAGE_FILE=
SHARED_MEMORY_MCP_MAX_ITEMS=50
SHARED_MEMORY_MCP_READ_HANDOFF_TTL_DAYS=7
SHARED_MEMORY_MCP_DELETE_READ_HANDOFFS=false
SHARED_MEMORY_MCP_REDACT_SECRETS=false
SHARED_MEMORY_MCP_BACKUP_DIR=
SHARED_MEMORY_MCP_DEFAULT_NAMESPACE=default
